<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <%= form.fields_for :ingredients do |ff| %>
    <%= render 'ingredient_fields', f: ff %>
  <% end %>

  <div class="actions">  
    <%= link_to_add_association 'adicionar ingrediente', form, :ingredients %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
